<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
</head>
<body>
    <p>Apasionado por la intersección entre la tecnología, los negocios y el cumplimiento normativo, soy un profesional junior en el campo de la consultoría de negocios y auditoría de sistemas SAP. Con un año de experiencia en EY, he tenido la oportunidad de trabajar en proyectos desafiantes y adquirir habilidades valiosas.</p>

    <p>Mi enfoque se centra en la gestión de riesgos de TI y en ayudar a las organizaciones a cumplir con los estándares legales y éticos. He participado en proyectos de auditoría y consultoría en sistemas SAP, contribuyendo al análisis de riesgos y al diseño de controles efectivos.</p>

    <p>Manteniendo una mentalidad de aprendizaje continuo y crecimiento profesional, estoy dedicado a adquirir experiencia en el campo y alcanzar nuevos niveles de excelencia. Mi pasión por la tecnología y mi formación académica en Licenciatura en Sistemas de Información en la UNLu me han proporcionado una base sólida para desarrollar mis habilidades técnicas y mi comprensión de los entornos empresariales.</p>

    <p>Busco oportunidades que me permitan seguir aprendiendo y aplicando mis conocimientos en un entorno colaborativo. Estoy dispuesto a asumir nuevos desafíos y adquirir experiencia en diferentes aspectos de la consultoría de tecnología.</p>
</body>
</html>